{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-between mb-3">
    <div class="col-auto">
      <h1>List of Agents</h1>
    </div>
    <div class="col-auto">
      <a href="{% url 'agents:agent_create' %}" class="btn btn-primary"
        >Create a new agent</a
      >
    </div>
  </div>
  <hr />
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
    {% for agent in object_list %}
    <div class="col">
      <div class="card mb-3" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ agent.user.username }}</h5>
          <p class="card-text">
            With supporting text below as a natural task-in to additional
            content.
          </p>

          <a
            href="{% url 'agents:agent_detail' agent.pk %}"
            class="btn btn-secondary"
            >more...</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
