{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h3 class="h3 text-dark mb-3">{{ agent.agent_name }}</h3>
      <nav class="nav nav-pills flex-column flex-sm-row mb-4">
        <a
          class="flex-sm-fill text-sm-center nav-link"
          href="{% url 'agents:agent_detail' agent.pk %}"
          >مرور کلی</a
        >

        <a
          class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.url_name == 'agent_update' %}active{% endif %}"
          href="{% url 'agents:agent_update' agent.pk %}"
          >به‌روزرسانی</a
        >
      </nav>

      <form method="post" enctype="multipart/form-data" class="mb-4">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary w-100 mt-2">ارسال</button>
      </form>
      {{ form.media }}

      <hr />

      <a
        href="{% url 'agents:agent_delete' agent.pk %}"
        class="btn btn-danger"
        onclick="return confirm('می خواهید کاربر را پاک کنید؟');"
      >
        پاک کردن کاربر</a
      >
    </div>
  </div>
</div>

{% endblock content %}
