{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-between mb-3">
    <div class="col">
      <h1>فهرست کاربران</h1>
    </div>
    <div class="col-auto">
      <a href="{% url 'agents:agent_create' %}" class="btn btn-primary"
        >افزودن کاربر جدید</a
      >
    </div>
  </div>

  <hr />

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for agent in object_list %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ agent.user.username }}</h5>
          <p class="card-text">{{ agent.user.mobile_number }}</p>
          <a
            href="{% url 'agents:agent_detail' agent.pk %}"
            class="btn btn-secondary"
            >توضیحات بیشتر</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
