{% extends "base.html" %} {% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="mb-4">
        <h3 class="h3 text-dark">{{ agent.agent_name }}</h3>
      </div>

      <nav class="nav nav-pills flex-column flex-sm-row border-bottom mb-4">
        <a
          class="flex-sm-fill text-sm-center nav-link active"
          href="{% url 'agents:agent_detail' agent.pk %}"
          >مرور کلی</a
        >

        <a
          class="flex-sm-fill text-sm-center nav-link"
          href="{% url 'agents:agent_update' agent.pk %}"
          >به روز رسانی</a
        >
      </nav>

      <div class="list-group">
        <div class="list-group-item d-flex justify-content-between">
          <span class="text-secondary">نام کاربری: </span>
          <span class="text-dark">{{ agent.user.usermame }}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
          <span class="text-secondary"> نام:</span>
          <span class="text-dark">{{ agent.user.first_name }}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
          <span class="text-secondary"> نام خانوادگی :</span>
          <span class="text-dark">{{ agent.user.last_name }}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
          <span class="text-secondary">سمت :</span>
          <span class="text-dark">{{ agent.user.position }}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
          <span class="text-secondary">تلفن همراه :</span>
          <span class="text-dark">{{ agent.user.mobile_number }}</span>
        </div>
      </div>
      <br />
      <a
        href="{% url 'agents:agent_delete' agent.pk %}"
        class="btn btn-danger"
        onclick="return confirm('می خواهید کاربر را پاک کنید؟');"
      >
        پاک کردن کاربر</a
      >

      <hr />
    </div>
  </div>
</div>
{% endblock content %}
