{% extends "base.html" %} {% block content %}

<section class="py-5">
  <div class="container">
    <div class="text-center mb-5">
      <h1 class="fw-bold text-dark mb-3">وضعیت ها</h1>
      <a href="{% url 'tasks:category-create' %}" class="btn btn-primary">
        افزودن دسته بندی جدید
      </a>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>نام</th>
            <th>تعداد کاد</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>الصاق نشده</td>
            <td>{{ unassigned_task_count }}</td>
          </tr>
          {% for category in category_list %}
          <tr>
            <td>
              <a
                href="{% url 'tasks:category-detail' category.pk %}"
                class="text-decoration-none"
              >
                {{ category.name }}
              </a>
            </td>
            <td>{{ category.task_count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock content %}
