{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h3 class="h3 text-dark mb-3">{{ task.task_name }}</h3>

      <nav class="nav nav-pills flex-column flex-sm-row mb-4">
        <a
          class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.url_name == 'task_detail' %}active{% endif %}"
          href="{% url 'tasks:task_detail' task.pk %}"
          >نمایش</a
        >
        <a
          class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.url_name == 'task-category-update' %}active{% endif %}"
          href="{% url 'tasks:task-category-update' task.pk %}"
          >وضعیت</a
        >
        <a
          class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.url_name == 'task_update' %}active{% endif %}"
          href="{% url 'tasks:task_update' task.pk %}"
          >به‌روزرسانی</a
        >
      </nav>

      <form method="post" class="mb-4">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary w-100 mt-2">ارسال</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
