{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h3 class="h3 text-dark mb-3">{{ task.task_name }}</h3>
      <p class="text-secondary mb-4">{{ task.info }}</p>

      <nav class="nav nav-pills flex-column flex-sm-row mb-4">
        <a
          class="flex-sm-fill text-sm-center nav-link"
          href="{% url 'tasks:task_detail' task.pk %}"
          >مرور کلی</a
        >
        <a
          class="flex-sm-fill text-sm-center nav-link"
          href="{% url 'tasks:task-category-update' task.pk %}"
          >وضعیت</a
        >
        <a
          class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.url_name == 'task_update' %}active{% endif %}"
          href="{% url 'tasks:task_update' task.pk %}"
          >به‌روزرسانی</a
        >
      </nav>

      <form method="post" enctype="multipart/form-data" class="mb-4">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary w-100 mt-2">ارسال</button>
      </form>
      {{ form.media }}

      <hr />

      <a
        href="{% url 'tasks:task_delete' task.pk %}"
        class="btn btn-danger"
        onclick="return confirm('Are you sure you want to delete this task?');"
      >
        پاک کردن کار</a
      >
    </div>
  </div>
</div>

{% endblock content %}
