{% extends "base.html" %} {% block content %}

<div class="container mt-5" dir="rtl">
  <div class="row justify-content-between mb-3">
    <div class="col">
      <h1>فهرست کارها</h1>
    </div>
    {% if request.user.is_organisor %}
    <div class="col-auto">
      <a href="{% url 'tasks:task_create' %}" class="btn btn-primary">
        افزودن کار جدید
      </a>
    </div>
    {% endif %}
  </div>

  <hr />

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for task in tasks %}
    <div class="col">
      <div class="card h-100">
        <div class="card-header">{{ task.task_name }}</div>
        <div class="card-body">
          <h5 class="card-title">وضعیت : {{ task.category }}</h5>
          <p class="card-text"></p>
          <p class="card-text">{{ task.agent }}</p>
          <a
            href="{% url 'tasks:task_detail' task.pk %}"
            class="btn btn-primary btn-sm"
          >
            جزئیات بیشتر
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
