{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-between mb-3">
    <div class="col">
      <h1>فهرست پروژه‌</h1>
    </div>
    {% if request.user.is_organisor %}
    <div class="col-auto">
      <a href="{% url 'projects:project_create' %}" class="btn btn-primary">
        افزودن پروژه‌ جدید
      </a>
    </div>
    {% endif %}
  </div>

  <hr />

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for project in projects %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text">{{ project.address }}</p>
          <a
            href="{% url 'projects:project_detail' project.pk %}"
            class="btn btn-secondary"
          >
            توضیحات بیشتر
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
